{% extends "base.html" %}

{% block title %} Admin {% endblock %}

{% block head_content %}
<style>
    body {
        background-color: #574B49;
    }

    h1{
        text-align: center;
        font-weight: bold;
        color: red;
        font-family: courier new;
    }
</style>
{% endblock %}

{% block body_content %}
<h1>Admin Page</h1>
<table border="1">
    {% for row in data %}
        <tr>
            <td>{{row.id}}</td>
            <td>{{row.first_name}}</td>
            <td>{{row.last_name}}</td>
            <td>{{row.username}}</td>
            <td>{{row.email}}</td>
            <td>{{row.birthday}}</td>
            <td>{{row.location}}</td>
            <td>{{row.gender}}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
