{% extends "base.html" %}

{% block title %} Admin {% endblock %}

{% block head_content %}
<style>
    body {
        background-color: #574B49;
    }

    h1{
        text-align: center;
        font-weight: bold;
        color: red;
        font-family: courier new;
    }
    table{
        border: 3px solid black;
        width: 70%;
    }

    table td,tr, th{
        border: 1px solid grey;
        text-align: center;
        width: 7.5%;
    }

    table tr:nth-child(even){
        color: #3769ff;
    }

    table tr:nth-child(odd){
        color:green;
    }
</style>
{% endblock %}

{% block body_content %}
<h1>Admin Page</h1>
<table>
    <tr>
        {% for column in users_columns %}
            <th>{{column.upper()}}</th>
        {% endfor %}
    </tr>
    {% for row in data %}
        <tr>
            {% for column in users_columns %}
                <td>{{row[column]}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endblock %}
