{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block head_content %}
<style>
     #about{
        color:white;
        margin:auto;
        margin-top: 3%;
        font-size: large;
        width: 50%;
        text-align: center;
     }

    h3 {
        color: #9d0000;
        margin:auto;
        margin-top: 3%;
        text-align: center;
        font-weight: bold;
    }

    #pong_area{
        position: relative;
        left: 5%;
        width: 40%;
    }

     .end{
        text-align: center;
        margin: 3%;
        width: 45%;
    }

    input{
        margin: 1%;
    }

    .input_text{
        color: #00007d;
    }

    .right_area{
        position: absolute;
        top: 52%;
        left: 55%;
        width: 40%;
    }
</style>
{% endblock %}

{% block body_content %}
<h1>
    Welcome to Gamesite!
</h1>
<p id="about">
    Here, you can play arcade style mini-games, such as 'Snake' and 'Pong', and compare
    your score to that of people all over the world! To play, you only have to <a href="register"> sign up </a>
    if you haven't already, or <a href="login">log in</a> to play on your existing account!
    For now, here are the all-time high scores on this site. Who knows, maybe you'll find yourself here eventually.
    <br>
    Have fun, and good luck!
</p>
<div id="pong_area">
    <h3> Pong High Scores </h3>
    <table>
        <tr>
            {% for header in columns%}
                <th> {{ header }}</th>
            {% endfor %}
        </tr>
        {% for row in data_p %}
        <tr>
            {% for column in columns %}
                <td>{{ row[column] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
<div class="right_area">
    <div id="snake_area">
        <h3>Snake High Scores: </h3>
        <table>
            <tr>
                {% for header in columns%}
                <th> {{ header }}</th>
                {% endfor %}
            </tr>
            {% for row in data_s %}
            <tr>
                {% for column in columns %}
                <td>{{ row[column] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div id="invaders_area">
        <h3>Space Invaders High Scores:</h3>
        <table>
            <tr>
                {% for header in columns %}
                    <th>{{header}}</th>
                {% endfor %}
            </tr>
            {% for row in data_i %}
                <tr>
                    {% for column in columns %}
                        <td>{{ row[column] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
<form method="post" class="end input_text">
    <label for="cols"> Enter column by which to order the tables: &emsp; </label>
    <select id="cols" name="cols">
        <option value="score"> Score </option>
        <option value="date"> Date </option>
        <option value="username"> Username </option>
    </select> <br>
    Ascending: <input type="radio" name="asc_desc" value="asc" checked> &emsp;
    Descending: <input type="radio" name="asc_desc" value="desc">
    <br />
    <input type="submit" id="submit" name="submit" value="submit" />
</form>
{% endblock %}