{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block head_content %}
<style>
    body{
        background-color: #574B49;
    }

     #about{
        color:white;
        margin:auto;
        margin-top: 3%;
        font-size: large;
        width: 30%;
        text-align: center;
     }

    h1 {
        color:red;
        margin:auto;
        text-align: center;
        font-weight: bold;
    }

    h3 {
        color: #9d0000;
        margin:auto;
        margin-top: 3%;
        text-align: center;
        font-weight: bold;
    }

    table{
        border: 3px solid black;
        margin: auto;
        margin-top: 3%;
    }

    table td,tr, th{
        border: 1px solid grey;
        text-align: center;
        width: 7.5%;
    }

    table tr:nth-child(even){
        color: #3769ff;
    }

    table tr:nth-child(odd){
        color:green;
    }

    .game_area{
        width: 40%;
        position: absolute;
    }

    #pong_area{
        left: 5%
    }

    #snake_area{
        right: 5%;
    }
</style>
{% endblock %}

{% block body_content %}
<h1>
    Welcome to Gamesite!
</h1>
<p id="about">
    Here, you can play arcade style mini games, such as 'Snake' and 'Pong', and compare
    your score to that of people all over the world! To play, you only have to <a href="register"> sign up </a>
    if you haven't already, or <a href="login">log in</a> to play on your existing account!
    Have fun, and good luck!
</p>
<div id="pong_area" class="game_area">
    <h3> Pong High Scores </h3>
    <table>
        <tr>
            {% for header in columns_p%}
                <th> {{ header }}</th>
            {% endfor %}
        </tr>
        {% for row in data_p %}
        <tr>
            {% for column in columns_p %}
                <td>{{ row[column] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
<div id="snake_area" class="game_area">
    <h3>Snake High Scores: </h3>
    <table>
        <tr>
            {% for header in columns_s%}
            <th> {{ header }}</th>
            {% endfor %}
        </tr>
        {% for row in data_s %}
        <tr>
            {% for column in columns_s %}
            <td>{{ row[column] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}