{% extends "base.html" %}

{% block title %} Login {% endblock %}

{%block head_content %}
<style>
    form{
        position:relative;
        left:35%;
        margin-top:5%;
    }

    p{
        color:white;
        position:relative;
        left: 39%;
        font-size: large;
     }

    input[type=submit]{
        position:relative;
        left: 13%;
        margin:1%;
    }

    h1{
        position: relative;
        width: 60%;
    }
</style>
{% endblock %}

{% block body_content %}
<h1>
    <strong>Log in to your account to view your scores and compare them to others from around the world!</strong>
</h1>
<form id="login_form" name="login_form" method="post" action="">
    <br>
    <div class="input-group col-xs-4">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input id="user" name="user" type="text" class="form-control input-lg" placeholder="Username">
    </div>
    <br>
    <div class="input-group col-xs-4">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input id="password" name="password" type="password" class="form-control input-lg" placeholder="Password">
    </div>

    <input type="submit" id="submit" name="submit" value="submit" class="btn btn-success btn-lg"/><br />
</form>
<p id="no-user"> Don't have an account yet? <a href="register">Click here</a> to create one!</p>
{% endblock %}