{% extends 'base.html' %}

{% block head_content %}
<style>

    h3 {
        color: #9d0000;
        margin:auto;
        margin-top: 3%;
        text-align: center;
        font-weight: bold;
    }

    .game_area{
        width: 40%;
    }

    #pong_area{
        position: relative;
        left: 5%
    }

    #snake_area{
        position: absolute;
        top:19%;
        right: 5%;
    }
</style>
{% endblock %}

{% block body_content %}
<h1>Your Scores: </h1>
<div id="pong_area" class="game_area">
    <h3> Pong Scores </h3>
    <table>
        <tr>
            {% for header in columns_p%}
            <th> {{ header }}</th>
            {% endfor %}
        </tr>
        {% for score in data_p %}
        <tr>
            {% for column in columns_p %}
            <td>{{ score[column] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
<div id="snake_area" class="game_area">
    <h3>Snake Scores: </h3>
    <table>
        <tr>
            {% for header in columns_s%}
            <th> {{ header }}</th>
            {% endfor %}
        </tr>
        {% for score in data_s %}
        <tr>
            {% for column in columns_s %}
            <td>{{ score[column] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
<form method="post" class="end input_text">
    <label for="cols"> Enter column by which to order the table: </label>
    <select id="cols" name="cols">
        <option value="score"> Score </option>
        <option value="date"> Date </option>
    </select>
    Ascending: <input type="radio" name="asc_desc" value="asc" checked>
    Descending: <input type="radio" name="asc_desc" value="desc">
    <br />
    <input type="submit" id="submit" name="submit" value="submit" />
</form>
{% endblock %}