{% extends "base.html" %}

{% block title %} Pong {% endblock %}

{% block head_content %}
    <style>
        canvas{
            border: 1px solid red;
            position: absolute;
            left: 30%;
            background-color: #3cb371;
        }

        body{
            background-color: #574B49;
        }

        h1{
            font-family: "courier new";
            color: red;
            text-align: center;
            width: 27%;
        }

        h3{
            float: left;
            position: absolute;
            left: 3%;
            color: red;
            font-family: "courier new";
            font-weight: bold;
        }

    </style>
{% endblock %}

{% block body_content %}
    <h1><strong>Pong</strong></h1>
    <h3 class="scoreDisplay">Your Current Score: 0</h3>
    <canvas id="canvas">
    </canvas>
    <script>

        let startGame = (() => {
            let canvas = document.getElementById("canvas");
            canvas.width = 0.6 * window.innerWidth;
            canvas.height =  0.7 * window.innerHeight;
            let drawer = canvas.getContext("2d");
            let canvasWidth = parseInt(getComputedStyle(canvas).width);
            let canvasHeight = parseInt(getComputedStyle(canvas).height);
            drawer.fillStyle = "#00d9f0";

            let wallPadding = 5;
            let paddleWidth = canvasWidth/80;
            drawer.fillRect(wallPadding, 0, paddleWidth, canvasHeight);

            let paddleLength = canvasHeight/4;
            let paddleX = canvasWidth - paddleWidth - wallPadding;
            let startY = canvasHeight/2 - paddleLength/2;

            let paddle = new Paddle(paddleX, startY, paddleWidth, paddleLength, canvasHeight, canvasWidth, drawer, canvas);

            let interval = setInterval(paddle.updateDisplay, 20);

            document.addEventListener("keydown", paddle.move);
        })();

        let ball = () => {
            this.color = "#94002b"
            thi
        }

        function Paddle(paddleX, startY, paddleWidth, paddleLength, canvasHeight, canvasWidth, drawer){
            drawer.fillRect(paddleX, startY, paddleWidth, paddleLength);
            this.positionY = startY;
            this.paddleLength = paddleLength;
            this.paddleX = paddleX;
            this.paddleWidth = paddleWidth;

            this.speed = 5;
            this.canvasHeight = canvasHeight;

            this.move = e => {
                keyId = e.charCode? e.charCode: e.which? e.which: e.keycode;
                if (keyId == 38){   // up
                    drawer.clearRect(this.paddleX - 5, this.positionY - 5, this.paddleWidth + 10, this.paddleLength + 10);
                    parseInt(this.positionY)> parseInt(this.speed)? this.positionY -= parseInt(this.speed): this.positionY=0;
                }
                if (keyId == 40){   // down
                    drawer.clearRect(this.paddleX - 5, this.positionY - 5, this.paddleWidth + 10, this.paddleLength + 10);
                    this.positionY + this.speed < this.canvasHeight - this.paddleLength? this.positionY += this.speed: this.positionY = canvasHeight - this.paddleLength;
                }
            }

            this.updateDisplay = () =>
            {
                drawer.fillRect(this.paddleX, this.positionY, this.paddleWidth, this.paddleLength);
            }
        }

    </script>
{% endblock %}

