{% extends "base.html" %}

{% block title %} Pong {% endblock %}

{% block head_content %}
    <style>
        canvas{
            border: 1px solid red;
            position: absolute;
            left: 30%;
            background-color: #3cb371;
        }

        body{
            background-color: #574B49;
        }

        h1{
            font-family: "courier new";
            color: red;
            text-align: center;
            width: 27%;
        }

        h3{
            float: left;
            position: absolute;
            left: 3%;
            color: red;
            font-family: "courier new";
            font-weight: bold;
        }

    </style>
{% endblock %}

{% block body_content %}
    <h1><strong>Pong</strong></h1>
    <h3 class="scoreDisplay">Your Current Score: 0</h3>
    <canvas id="canvas">
    </canvas>
    <script>

        let interval;

        let startGame = (() => {
            let canvas = new Canvas();

            let wallPadding = 5;
            let paddleWidth = canvas.width/80;

            let paddleLength = canvas.height/4;
            let paddleX = canvas.width - paddleWidth - wallPadding;
            let startY = canvas.height/2 - paddleLength/2;

            let ball = new Ball(canvas);
            let wall = new Paddle(5, 0, paddleWidth, canvas.height, canvas);
            let paddle = new Paddle(paddleX, startY, paddleWidth, paddleLength, canvas, ball, wall);
            let b2 = new Ball(canvas);
            interval = setInterval(paddle.runGame, 20);

            document.addEventListener("keydown", paddle.changeDirection);
        })();

        function Canvas(){

            Canvas.prototype.board = document.getElementById("canvas");
            this.board.width = 0.6 * window.innerWidth;
            this.board.height =  0.7 * window.innerHeight;

            Canvas.prototype.height = this.board.height;
            Canvas.prototype.width = this.board.width;

            this.rectColor = "#00d9f0";

            this.drawer =  this.board.getContext("2d");
            this.drawer.fillStyle = this.rectColor;
        }

        function Ball(canvas) {
            this.color = "#94002b";
            this.canvas = canvas;

            this.speedX = 3;
            this.speedY = 0;
            this.width = 0.02 * canvas.width;
            this.height = 0.05 * canvas.height;

            this.posX = (canvas.width - this.width)/2;
            this.posY = (canvas.height - this.height)/2;

        }

        Ball.prototype.move = function() {
           if (Math.floor(this.posY) < -this.speedY || Math.ceil(this.posY) >= Math.ceil(this.canvas.height - this.height)){
               this.speedY *= -1;
           }
           this.canvas.drawer.clearRect(this.posX - 1, this.posY - 1, this.width + 2, this.height + 2);
           this.posX += this.speedX;
           this.posY += this.speedY;
           this.redraw();
        }

        Ball.prototype.collision = function(paddle)
        {
                this.speedX > 0? this.speedX = -1*(this.speedX +1) : this.speedX = -1*(this.speedX - 1);
                this.speedY += 0.2 * paddle.speed;
        }

        Ball.prototype.redraw = function(){
            this.canvas.drawer.fillStyle = this.color;
            this.canvas.drawer.fillRect(this.posX, this.posY, this.width, this.height);
        }


        function Paddle(positionX, startY, paddleWidth, paddleLength, canvas, ball="_", wall="_"){
            Paddle.prototype.canvas = canvas;

            this.positionY = startY;
            this.length = paddleLength;
            this.positionX = positionX;
            this.width = paddleWidth;

            Paddle.prototype.speed = 0;

            this.ball = ball;
            this.wall = wall;

            this.changeDirection = function(e) {
                keyId = e.charCode? e.charCode: e.which? e.which: e.keycode;
                if (keyId == 38){   // up
                    this.speed = -5;
                } else if (keyId == 40){   // down
                    this.speed = 5;
                }
            }

            this.draw = function() {
                this.canvas.drawer.fillRect(this.positionX, this.positionY, this.width, this.length);
            }

            this.move = function() {
                this.canvas.drawer.clearRect(this.positionX - 5, this.positionY - 5, this.width + 10, this.length + 10);
                if (this.speed < 0 && this.positionY > -this.speed){
                    this.positionY += this.speed;
                } else if (this.speed > 0 && this.positionY + this.length + this.speed < this.canvas.height){
                    this.positionY += this.speed;
                } else if (this.speed < 0){
                    this.positionY = 0;
                } else if (this.speed > 0){
                    this.positionY = this.canvas.height - this.length;
                }
            }

            this.runGame = function()
            {
                console.log(typeof this.move());
                this.draw();
                this.wall.draw();

                this.ball.move();
                this.canvas.drawer.fillStyle = this.canvas.rectColor;

                if (Math.floor(this.ball.posX + this.ball.width) > Math.floor(this.positionX) && this.ball.posY + this.ball.height > this.positionY && this.positionY + this.length > this.ball.posY ){  // any part of the ball hits any part of the paddle
                    this.ball.collision(this);
                }
                if (Math.floor(this.ball.posX) <= Math.floor(this.wall.positionX + this.wall.width)){
                    this.ball.collision(this.wall);
                }

                if (this.ball.posX >= this.canvas.width){
                    clearInterval(interval);
                    alert("Game over!");
                }
            }
        }




    </script>
{% endblock %}

