{% extends "base.html" %}
{% block title %} Register {% endblock %}

{% block head_content %}
<style>
    body{
        background-color: #574B49;
    }

    form{
        position:relative;
        left:35%;
        margin-top:5%;
    }

    p{
        color:white;
        position:relative;
        left: 39%;
        font-size: large;
     }

    input[type=submit]{
        position:relative;
        left: 13%;
        margin:1%;
    }

    h1{
        position: relative;
        left: 20%;
        width: 60%;
        text-align: center;
        font-family: "courier new";
        color: red;
    }

    input[type='radio'] {
        transform: scale(2);
    }

    #gender_fields{
        font-size: 2em;
        display: flex;
        justify-content: space-around;
        color: white;
    }
</style>
<script>

    let checkForm = () => {
                return checkFname() &&
                checkLname() &&
                checkUname() &&
                checkPass() &&
                checkEmail() &&
                checkBday() &&
                checkLoc() &&
                checkGender()
        }

        function checkFname() {
            var fname = document.getElementById("firstname").value;
            var flag = true;
            if (fname == "") {
                alert("Please enter a first name");
                flag = false;
            }
            if (fname[0] != fname[0].toUpperCase()) {
                alert("First name must start with a capital letter");
                flag = false;
            }
            var letters = /^[A-Za-z\s]+$/;
            if (!(fname.match(letters))) {
                flag = false;
                window.alert("First name cannot contain spaces, numbers or special characters");
            }
            return flag;
        }


        function checkLname() {
            var letters = /^[A-Za-z\s]+$/;
            var flag = true;
            var lname = document.getElementById("lastname").value;
            if (lname == "") {
                window.alert("Please enter a last name");
                flag = false;
            }
            if (lname[0] != lname[0].toUpperCase()) {
                window.alert("Last name must start with a capital letter");
                flag = false;
            }
            if (!lname.match(letters)) {
                flag = false;
                window.alert("Last name cannot contain spaces or special characters");
            }
            return flag;
        }


        function checkUname() {
            var flag = true;
            var uname = document.getElementById("newuser").value;
            if (uname.length < 4) {
                flag = false;
                window.alert("Username must be at least 4 characters long");
            }
            var nums_letters = /^[A-Za-z0-9]+$/;
            if (!uname.match(nums_letters)) {
                flag = false;
                window.alert("Username must include only numbers and letters");
            }
            return flag;
        }


        function checkPass() {
            var flag = true;
            var rules = [
                /[0-9]/,
                /[a-z]/,
                /[A-Z]/,
                /[{!@#$%^&*}<>]/
            ];
            var pass = document.getElementById("newpass").value;
            if (pass.length < 6) {
                flag = false;
                window.alert("Password must contain at least 6 characters");
            }
            var passflag = false;
            for (var i = 0; i < rules.length; i++) {
                if (!rules[i].test(pass)) {
                    flag = false;
                    passflag = true;
                }
            }
            if (passflag == true) {
                window.alert("password must contain at least one capital letter, a lowercase letter, a number, and at least one special character !@#$%^&*");
            }
            var passcheck = document.getElementById("passconfirm").value;
            if (passcheck != pass) {
                window.alert("Password confirmation field must be identical to password");
                flag = false;
            }
            return flag;
        }


        function checkEmail() {
            var flag = true;
            var letters = /^[A-Za-z\s]+$/;
            var email = document.getElementById("mail").value;
            var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
            if (!email.match(mailformat)) {
                window.alert("Email must start with a letter, contain an @ character and include a valid domain");
                flag = false;
            }
            var fmail = email[0];
            if (!fmail.match(letters)) {
                window.alert("Email address must start with a letter");
                flag = false;
            }
            return flag;

        }

        function checkBday() {
            var flag = true;
            var Bday = document.getElementById("birthday").value;
            if (Bday == "") {
                window.alert("Please enter your birthday");
                flag = false;
            }
            return flag;
        }

        function checkLoc() {
            var flag = true;
            var loc = document.getElementById("loc").value;
            if (loc == "") {
                window.alert("Please enter your location");
                flag = false;
            }
            return flag;
        }

        function checkGender() {
            var flag = false;
            var radios = document.getElementsByName("gender");
            for (var radio of radios) {
                if (radio.checked) {
                    flag = true;
                }
            }
            return flag;
        }
</script>
{% endblock %}

{% block body_content %}
<h1><strong>
    Just a few details and you're ready! Sign up and play as much as you like, for free!
</strong></h1>
<form id="reg_form" name="reg_form" action="" onsubmit="return checkForm()">
    <div class="input-group col-xs-4">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" id="firstname" name="firstname" class="form-control input-lg" placeholder="First Name" /><br />
    </div>
    <div class="input-group col-xs-4">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" id="lastname" name="lastname" class="form-control input-lg" placeholder="Last Name"/><br />
    </div>
    <div class="input-group col-xs-4">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" id="new_user" name="new_user" class="form-control input-lg" placeholder="Username"/><br />
    </div>
    <br>
    <div class="input-group col-xs-4">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input type="password" id="new_pass" name="new_pass" class="form-control input-lg" placeholder="Password"/> <br />
    </div>
    <div class="input-group col-xs-4">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input type="password" id="pass_confirm" name="pass_confirm" class="form-control input-lg" placeholder=" Confirm Password"/>
    </div>
    <br>
    <div class="input-group col-xs-4">
        <span class="input-group-addon"><i class="glyphicon glyphicon-inbox"></i></span>
        <input type="email" id="mail"  name="mail" class="form-control input-lg" placeholder="Email"/><br />
    </div>
    <br>
    <div class="input-group col-xs-4">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        <input type="date" id="birthday" name="birthday" class="form-control input-lg" placeholder="Birthday"/><br />
    </div>
    <br>
    <div class="input-group col-xs-4">
        <span class="input-group-addon"><i class="	glyphicon glyphicon-map-marker"></i></span>
        <input list="locs" id="loc" name="loc" class="form-control input-lg"/>
    </div>
    <datalist id="locs">
        <option value="Africa"></option>
        <option value="Asia"></option>
        <option value="Australia or Oceania"></option>
        <option value="Europe"></option>
        <option value="North America"></option>
        <option value="South America"></option>
    </datalist>
    <div class="input-group col-xs-4" id="gender_fields">
        Gender:
        <div> Male:  <input type="radio" name="gender" id="male" value="male"/> </div>
        <div> Female: <input type="radio" name="gender" id="female" value="female" /></div>
    </div>
    <input type="submit" id="submit" name="submit" value="submit" class="btn btn-success btn-lg"/>
</form>
{% endblock %}