{% extends "base.html" %}

{% block title %} Snake {% endblock %}

{% block head_content %}
<style>
    body {
        background-color: #574B49;
    }

    .grid{
        border: 1px solid red;
        width: 50%;
        height: 30em;
        position: absolute;
        left: 28%;
        margin: auto 0;
        display: flex;
        flex-wrap: wrap;
        background: #0000b1;
    }

    .grid div{
        width: 2.5%;
        height: 2.5%;
    }

    .snake {
        background: green;
    }

    .apple {
        background: #b00000;
    }

    h1{
        font-family: "courier new";
        color: red;
        text-align: center;
        width: 27%;
    }

    h3{
        float: left;
        color: red;
        font-family: "courier new";
        font-weight: bold;
    }
</style>

{% endblock %}

{% block body_content %}
    <h1><strong>Snake</strong></h1>
    <h3 class="scoreDisplay">Your Current Score: 0</h3>
    <div class="grid"></div>



    <script type="text/javascript">
        const grid = document.querySelector(".grid");
        const popup = document.querySelector(".popup");
        const scoreDisplay = document.querySelector(".scoreDisplay");
        const width = 40;
        const height = 40;
        let currentIndex = 0;
        let appleIndex = 0;
        let currentSnake = [2, 1, 0];
        let direction = 1;
        let score = 0;
        let speed = 0.8;
        let intervalTime = 0;
        let interval = 0;

        document.addEventListener("DOMContentLoaded", function() {
            document.addEventListener("keyup", control);
            createBoard(width, height);
            startGame();
        });

        let createBoard = (width, height) => {
            for (let i = 0; i< height * width; i++){
                let div = document.createElement("div");
                grid.appendChild(div);
            }
            document.querySelectorAll(".grid div").forEach(element => {
            element.style.height = (100/height) + "%";
            element.style.width = (100/width) + "%";
            });
            console.log("height: " + document.querySelectorAll(".grid div")[0].style.height);
            console.log("width: " + document.querySelectorAll(".grid div")[0].style.width);
        }

        let startGame = () => {
            let squares = document.querySelectorAll(".grid div");
            currentSnake = [2, 1, 0];
            currentSnake.forEach((index) => squares[index].classList.add("snake"));
            randomApple(squares);
            direction = 1;
            score = 0;
            scoreDisplay.innerHtml = score;
            intervalTime = 500;
            currentIndex = 0;
            interval = setInterval(moveOutcome, intervalTime);
        }

        let moveOutcome = () => {
            let squares = document.querySelectorAll(".grid div");
            if (checkForHits(squares)){
                alert("You hit something!");
                return clearInterval(interval);
            } else {
                moveSnake(squares);
            }
        }

        let moveSnake = () => {
            const squares = document.querySelectorAll(".grid div");

            let tail = currentSnake.pop();
            squares[tail].classList.remove("snake");
            currentSnake.unshift(currentSnake[0] + direction);
            squares[currentSnake[0]].classList.add("snake");
            eatApple(squares, tail);
        }

        function checkForHits(squares){
            return (currentSnake[0] + direction > width*height) ||
                (currentSnake[0] + direction < 0) ||
               (currentSnake[0] % width == width - 1 && direction == 1) ||
               (currentSnake[0] % width == 0 && direction == -1) ||
               squares[currentSnake[0] + direction].classList.contains("snake");
        }

        function eatApple(squares, tail){
            if (squares[currentSnake[0]].classList.contains("apple")){
                squares[currentSnake[0]].classList.remove("apple");
                squares[tail].classList.add("snake");
                currentSnake.push(tail);
                randomApple(squares);
                score ++;
                scoreDisplay.innerHTML = "Your Score: " + score;
                clearInterval(interval);
                intervalTime *= speed;
                interval = setInterval(moveOutcome, intervalTime);
            }
        }

        function randomApple(squares){
            do{
                appleIndex = Math.floor(Math.random() * squares.length);
            } while(squares[appleIndex].classList.contains("snake"));
            squares[appleIndex].classList.add("apple");
        }

        let control = e => {
            let keyId = e.charCode? e.charCode: e.which? e.which : e.keycode;
            if (keyId == 37){
                direction = -1; // left
            }
            if (keyId == 38){
                direction = -width; // up
            }
            if (keyId == 39){
                direction = 1; // right
            }
            if (keyId == 40){
                direction = width; // down
            }
        }
    </script>
{% endblock %}
