 	body{
        background-color: #574B49;
    }

 	h1 {
            color:red;
            margin:auto;
            text-align: center;
            font-weight: bold;
    }

 	table{
         border: 3px solid black;
         margin: auto;
         margin-top: 3%;
    }

    table td,tr, th{
        border: 1px solid grey;
        text-align: center;
        width: 7.5%;
    }

    table th{
    	color: black;
    }

    table tr:nth-child(even){
        color: #3769ff;
    }

    table tr:nth-child(odd){
        color:green;
    }

    #user_display{
        position: absolute;
       	right: 1%;
       	font-weight: bold;
        font-size: large;
    }